* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: brown;
}
#body {
	margin: 0 50px;
	padding-top: 80px;
}

/* a:visited {
	color: green;
} */
#body .head {
	font-size: 40px;
	margin: 50px 0;
}
.active {
	background-color: black;
}
div > section {
	padding: 20px 0 20px 0;
}
div > article > p {
	padding: 20px;
}
div article ul {
	padding-left: 50px;
}
div section p {
	padding: 20px;
}
#beans {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 20px;
}
#beans > section > h2 {
	margin-left: -30px;
	padding: 0 20px 20px 20px;
}
#beans section {
	/* border: solid red 1px; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
#beans section div {
	width: 18rem;
	height: 18rem;
	overflow: hidden;
}
#beans .left_beans div {
	border-radius: 50%;
}

#beans .left_beans div:hover {
	border-radius: 0%;
	transition: 350ms ease-in-out;
}
#beans figcaption {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}
.img-wrapper {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	overflow: hidden;
}
.inner-img {
	transition: 0.3s;
}
.inner-img:hover {
	transform: scale(1.1);
}

.flipCard {
	margin: 20px auto 0;
	background-color: transparent;
	width: 600px;
	height: 300px;
	/* margin: auto;
	margin-top: 20px; */
	perspective: 1000px;
}
.flipInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	/* width: 600px; */
	/* height: 300px; */
}
.flipCard:hover .flipInner {
	transform: rotateY(180deg);
}
.backCard,
.frontCard {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; /* Safari */
}

.frontCard {
	background-color: #bbb;
	color: black;
}
.backCard {
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
}

.frontCard img,
.backCard img {
	height: inherit;
}

.backCard img {
	width: inherit;
}

#lastSection > div {
	/* border: solid red 1px; */
	padding: 20px;
	margin: auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
}
#lastSection > div > figure {
	border: solid black 1px;
	border-radius: 5px;
	width: 90%;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 3px 3px rgb(140, 148, 155);
	margin: 1rem 0;
}
#lastSection figcaption {
	display: flex;
	margin: 0 5rem;
}
#lastSection figcaption ul li {
	margin: 10px;
}

#lastSection #centerImg {
	align-self: flex-end;
	display: flex;
	flex-direction: row-reverse;
}

@media screen and (max-width: 1300px) {
	#lastSection figure {
		height: 10rem;
	}
	#lastSection figure img {
		width: 30rem;
	}
}
@media screen and (max-width: 1200px) {
	#beans section div {
		width: 15rem;
		height: 15rem;
	}
	#lastSection > div {
		width: 100%;
	}
	#lastSection > div > figure {
		width: 100%;
	}
}
@media screen and (max-width: 1000px) {
	#lastSection div figure {
		height: 8rem;
	}
	#lastSection div figure img {
		width: 18rem;
	}
	#lastSection figcaption {
		margin: 20px;
	}
}
@media screen and (max-width: 750px) {
	#beans {
		/* border: solid red 1px; */
		flex-direction: column;
		padding: 0;
	}
	#beans section {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#beans section figure {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	#beans section figure div {
		width: 10rem;
		height: 10rem;
		margin-right: 30px;
	}
	#beans section figure div img {
		width: 10rem;
		height: 10rem;
	}
	.flipCard {
		width: 25rem;
		height: 15rem;
	}
	.flipCard img {
		width: 25rem;
		height: 15rem;
	}
}
@media screen and (max-width: 700px) {
	#lastSection div {
		/* border: solid red 1px; */
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	#lastSection #centerImg {
		align-self: center;
		display: flex;
		flex-direction: column;
	}
	#lastSection div figure {
		/* border: solid red 1px; */
		flex-direction: column;
		width: 18rem;
		height: 18rem;
	}
}
@media screen and (max-width: 650px) {
	#body {
		margin: 0 30px;
	}
	#beans section figure {
		flex-direction: column;
	}
}
@media screen and (max-width: 470px) {
	.flipCard {
		width: 18rem;
		height: 10rem;
	}
	.flipCard img {
		width: 18rem;
		height: 10rem;
	}
}
