.footer {
	border-top: #a0978c solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: auto;
	color: brown;
}
.footer h6 {
	margin: 5px;
}
.footer div {
	width: 10em;
	display: flex;
	justify-content: space-around;
	margin-bottom: 5px;
}

.footer a {
	text-decoration: none;
	color: #a0978c;
	font-size: 20px;
}

.footer a:hover {
	color: #2196f3;
}
@media screen and (max-width: 700px) {
	.footer {
		width: 80%;
	}
}
