* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: lightgray;
}
.active {
	background-color: black;
}

.form {
	margin: 150px 50px 50px 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.formStyle {
	border-radius: 20px;
	background-image: linear-gradient(175deg, brown, white);
	margin: 0px 10px;
}

.color {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

fieldset {
	padding: 20px 20px;
	background-color: gray;
	position: relative;
}
fieldset::after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: -60px;
	right: 5px;
	left: auto;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	transform: rotate(3deg);
}
legend {
	text-align: center;
}

.span span {
	color: brown;
}

.formStyle label {
	display: block;
	margin: 0px 0px 15px 0px;
}
.formStyle label .span {
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.formStyle input,
.formStyle select,
.formStyle textarea {
	margin: 5px;
	padding-left: 5px;
	width: 200px;
	height: 30px;
	background-color: lightyellow;
}
.formStyle textarea {
	height: 50px;
}
.formStyle input:focus,
.formStyle select:focus,
.formStyle textarea:focus {
	background-color: white;
}
#submit {
	margin: 20px auto;
	display: block;
	justify-content: center;
	/* margin-bottom: 50px; */
}
form,
video {
	margin: 30px;
}
video {
	width: 400px;
	height: 400px;
}

@media screen and (max-width: 950px) {
	.form {
		flex-direction: column-reverse;
	}
}
@media screen and (max-width: 500px) {
	.form {
		margin: 100px 30px 50px 30px;
	}
	.formStyle {
		width: 22rem;
	}
	.formStyle label .span {
		width: 80px;
		font-size: smaller;
	}
	video {
		width: 22rem;
	}
}
@media screen and (max-width: 400px) {
	.formStyle {
		width: 20rem;
	}
	.formStyle label .span {
		width: 80px;
		font-size: smaller;
	}
	video {
		width: 20rem;
	}
}
