#nav-test {
	height: 7rem;
	font-family: "Open Sans", sans-serif;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	padding: 0 3em;
	overflow: hidden;
}
.nav-img {
	height: 11vh;
}
.nav-img img {
	width: 100%;
	height: 70vh;
}

#nav-test ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	font-size: 1.5em;
	height: 2rem;
}

#nav-test li {
	width: 100%;
	height: inherit;
	display: block;
	flex-direction: column;
	align-self: baseline;
	background-color: brown;
}

#nav-test li .main-a {
	color: fff;
	/* color: black; */
	text-decoration: none;
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

#nav-test li .main-a:link:hover {
	background-color: black;
}

.dropDownContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: auto;
	background-color: grey;
	visibility: hidden;
}

.dropDownContent a {
	text-decoration: none;
	color: fff;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 1.3rem;
}
.dropDownContent a:hover {
	background-color: black;
}

#nav-test li:hover .dropDownContent {
	visibility: visible;
}

@media screen and (max-width: 650px) {
	#nav-test {
		padding: 0;
		height: 6.6rem;
	}
	#nav-test li {
		/* padding: 10px; */
		font-size: 0.8em;
	}
}
