* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: brown;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: lightgray;
	font-size: 20px;
}
.parallax {
	background-image: url("../images/everything-you-need-to-know-about-coffee.jpg");
	max-width: 100%;
	/* height: 80vh; */
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100vw 60vh;
	background-color: #343434;
}
.active {
	background-color: black;
}
#coffee {
	/* margin-top: 80%vh; */
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.2); */
	background-image: url("../images/pexels-photo-585750.jpeg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-color: transparent;
	width: 100%;
	flex-direction: column;
	/* height: 10vh; */
	border-top: solid #a0978c;
	padding: 1rem;
}

#coffee ul {
	width: 60%;
	display: inline-flex;
	/* justify-content: space-around; */
	/* border-collapse: collapse; */
	/* border: 2px solid brown; */
}

#coffee ul li {
	display: flex;
	align-items: center;
	justify-content: center;
}

#coffee li {
	width: 100%;
	border-left: solid brown;
}
#coffee li:first-child {
	border-left: none;
}

#coffee li:hover {
	background-color: brown;
	color: black;
}
#coffee a:link {
	text-decoration: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#coffee a,
#coffee .heading {
	color: #dfdfdf;
}
#bodyParallax {
	padding: 20px 0;
	margin: 0 50px;
	/* height: 90%; */
}
#bodyParallax aside,
#bodyParallax section {
	margin: 10px 20px 10px 0;
}
#bodyParallax figure {
	/* float: right; */

	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
}

@media screen and (max-width: 700px) {
	#coffee ul {
		width: 80%;
	}
	#bodyParallax {
		margin: 0 30px;
	}

	#bodyParallax figure img {
		width: 20rem;
	}
}
@media screen and (max-width: 400px) {
	#coffee ul {
		width: 100%;
	}
	#bodyParallax figure img {
		width: 15rem;
	}
}
