* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: brown;
}

#main {
	margin: 0 50px;
	padding-top: 100px;
}
#body {
	margin: 0 50px;
}
.active {
	background-color: black;
}
/* a:visited {
	color: green;
} */
.main-head {
	font-size: 40px;
	margin: 20px 0;
}
/* #main div div {
	border: solid red 2px;
	margin: 20px 0;
} */
#main .div {
	margin: 20px 0;
}
blockquote,
p {
	margin: 10px 20px;
}
img {
	width: 600px;
	height: 400px;
}
figure {
	margin: auto;
	width: 600px;
}

.container {
	position: relative;
}
.overlay {
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	background-color: rgba(255, 0, 0, 0.2);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container:hover .overlay {
	height: 20%;
}
.caption {
	color: white;
	text-transform: uppercase;
}

div > section > h3 {
	margin: 20px 0 0 0;
}
.outer {
	margin: 20px 100px;
}
.outer > li {
	margin: 20px 0;
}
#specific ul,
ol {
	margin: 0 30px;
}
/* .div {
	float: right;
} */
@media screen and (max-width: 900px) {
	figure {
		width: 30rem;
		height: 20rem;
	}
	figure img {
		width: 30rem;
		height: 20rem;
	}
}
@media screen and (max-width: 900px) {
	.outer {
		margin: 20px 50px;
	}
}

@media screen and (max-width: 700px) {
	figure {
		width: 25rem;
		height: 15rem;
	}
	figure img {
		width: 25rem;
		height: 15rem;
	}
	.outer {
		margin: 20px 30px;
	}
}
@media screen and (max-width: 550px) {
	#main,
	#body {
		margin: 0 30px;
	}

	figure {
		width: 20rem;
		height: 10rem;
	}
	figure img {
		width: 20rem;
		height: 10rem;
	}
}
@media screen and (max-width: 500px) {
	figure {
		width: 17rem;
		height: 8rem;
	}
	figure img {
		width: 17rem;
		height: 8rem;
	}
}
@media screen and (max-width: 400px) {
	figure {
		width: 15rem;
		height: 7rem;
	}
	figure img {
		width: 15rem;
		height: 7rem;
	}
}
